body {
  font-family: Georgia, serif;
  background-color: #fefae0;
  color: #283618;
  margin: 0;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

/* Encabezados */
h1,
h2,
h3 {
  color: #bc6c25;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3 {
  color: #ffbb00;
}

h1 {
  text-align: center; /* Centramos el h1 */
}

.navbar {
  background-color: #ad3434;
  color: #283618;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px; /* Redondear el navbar */
  max-width: 1000px;
  margin: 0 auto; /* Centrar el navbar */
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .navbar {
  background-color: #333;
  color: #e0e0e0;
}

.navbar .navbar-container {
  display: flex;
  justify-content: center;
}

.navbar .icon {
  display: none;
}

.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centramos los elementos */
  margin: 0; /* Remover el margen para evitar espacios extra */
}

.navbar-list li {
  margin: 15px; /* Ajustamos el margen para que se vea bien en diferentes tamaños de pantalla */
}

.navbar-list li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

body.dark-mode .navbar-list li a {
  color: #e0e0e0;
}

.navbar-list li a:hover {
  color: #dda15e;
}

body.dark-mode .navbar-list li a:hover {
  color: #ffbb00;
}

.hero h2 {
  font-size: 33px;
  color: #780000;
  margin-bottom: 20px;
  text-align: center; /* Centramos el h2 */
}

body.dark-mode .hero h2 {
  color: #ff8c00;
}

.hero h3 {
  font-size: 18px;
  color: #003049;
  margin-bottom: 20px;
  text-align: center; /* Centramos el h3 */
}

body.dark-mode .hero h3 {
  color: #87cefa;
}

.welcome-text {
  padding: 20px;
  max-width: 1160px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .welcome-text {
  background-color: #333;
  color: #e0e0e0;
  
}

.welcome-text h3 {
  text-align: center;
  color: #bc6c25;
}

.welcome-text p {
  text-align: justify;
  line-height: 1.6;
}

footer {
  text-align: center;
  background-color: #bc6c25;
  color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0 0 10px 10px;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode footer {
  background-color: #333;
  color: #e0e0e0;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .navbar .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar .icon {
    display: block;
    cursor: pointer;
    font-size: 30px; /* Ajuste del tamaño del icono */
    padding: 10px; /* Ajuste del padding para mayor clicabilidad */
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-list.responsive {
    display: flex;
  }

  .navbar-list li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .navbar-list li a {
    display: block;
    padding: 10px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .hero h3 {
    font-size: 16px;
  }

  .dark-mode-button {
    transform: scale(1.5);
    align-self: flex-end;
    margin-right: 10px;
    translate: 0 -130%
  }
}

/* Estilos para el slideshow */
.slideshow {
  position: relative;
  width: 100%;
  height: 500px; /* Ajuste de altura */
  overflow: hidden;
  max-width: 1200px;
  margin: 20px auto; /* Centrar el slideshow */
  border-radius: 12px;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0; /* Ocultar todas las imágenes por defecto */
}

/* Estilo para la primera imagen (visible al principio) */
.slideshow img:first-child {
  opacity: 1; /* Hace visible la primera imagen */
}

/* Estilos para los enlaces */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #535bf2;
}

body.dark-mode a {
  color: #87cefa;
}

body.dark-mode a:hover {
  color: #1e90ff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.gallery .art-piece {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.gallery .art-piece img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.gallery .art-piece:hover img {
  transform: scale(1.05);
}

.gallery .art-piece .description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centramos el texto */
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.gallery .art-piece:hover .description {
  opacity: 1;
}

.gallery .art-piece .title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-weight: bold;
}

.gallery .art-piece .artist {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
}

.donation-info {
  padding: 20px;
  max-width: 600px;
  margin: 34px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .donation-info {
  background-color: #333;
  color: #e0e0e0;
}

.donation-info h2, .donation-info h3 {
  text-align: center;
}

.donation-options ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.donation-options li {
  margin: 10px 0;
}

.donation-form form {
  display: flex;
  flex-direction: column;
}

.donation-form label {
  margin-top: 10px;
}

.donation-form input, .donation-form select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .donation-form input,
body.dark-mode .donation-form select {
  background-color: #444;
  color: #e0e0e0;
  border: 1px solid #555;
}

.donation-form input[type="submit"] {
  background-color: #bc6c25;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.donation-form input[type="submit"]:hover {
  background-color: #a05d20;
}

body.dark-mode .donation-form input[type="submit"] {
  background-color: #ffbb00;
  color: #333;
}

body.dark-mode .donation-form input[type="submit"]:hover {
  background-color: #e6a300;
}

#confirmationMessage {
  text-align: center;
  color: #283618;
}

body.dark-mode #confirmationMessage {
  color: #ffbb00;
}

.content {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .content {
  background-color: #333;
  color: #e0e0e0;
}

.content h2, .content h3, .content h4 {
  color: #bc6c25;
}

body.dark-mode .content h2,
body.dark-mode .content h3,
body.dark-mode .content h4 {
  color: #ffbb00;
}

.content p {
  color: #283618;
  line-height: 1.6;
}

body.dark-mode .content p {
  color: #e0e0e0;
}

.content hr {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #bc6c25;
}

.content img {
  display: block;
  margin: 0 auto;
}

body.dark-mode .content hr {
  border-top: 2px solid #ffbb00;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .contact-form input,
body.dark-mode .contact-form textarea {
  background-color: #444;
  color: #e0e0e0;
  border: 1px solid #555;
}

.contact-form input[type="submit"] {
  background-color: #bc6c25;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: #a05d20;
}

body.dark-mode .contact-form input[type="submit"] {
  background-color: #ffbb00;
  color: #333;
}

body.dark-mode .contact-form input[type="submit"]:hover {
  background-color: #e6a300;
}

#confirmationMessage {
  text-align: center;
  color: #283618;
}

body.dark-mode #confirmationMessage {
  color: #ffbb00;
}

/* Estilos para el botón de modo oscuro */
.dark-mode-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  margin-left: 20px;
  transition: color 0.3s;
}

body.dark-mode .dark-mode-button {
  color: #ffbb00;
}
